{% extends 'base.html.twig' %}

{% block title %}Edit Item{% endblock %}

{% block body %}
    <div class="inner bo editItem">
        <h1>Edit Item</h1>

        {{ include('item/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-primary" href="{{ path('app_item_index') }}">back to list</a>

        {{ include('item/_delete_form.html.twig') }}
    </div>

{% endblock %}
